<div class="table_view">
  <table>
    <thead>
    <th>编号</th>
    <th>名称</th>
    </thead>
    <tbody>
    <tr>
      <td><%= @department.serial_number %></td>
      <td><%= @department.name %></td>
    </tr>
    </tbody>
    </table>
  <% if is_admin_permission? session[:permission] %>
    <%= link_to '编辑', edit_department_path(@department) %> |
  <% end %>
  <%= link_to '返回', departments_path(page: @page) %>
</div>