<div id="div_print" class="print_records">
  <table cellpadding="0" cellspacing="0">
    <thead>
    <tr class="title">
      <th colspan="2">交收记录</th>
    </tr>
    </thead>
    <tbody>
      <% @printed_records.each do |record| %>
      <tr>
        <td style="font-size:11" >
          <%= record[:col1] %>
        </td>
        <td style="font-size:11">
          <%= record[:col2] %>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>

