<div id="div_print" class="print_records">
  <table>
    <thead>
    <tr class="title">
      <th colspan="4">交收记录</th>
    </tr>
    </thead>
    <tbody>
      <% @printed_records.each do |record| %>
      <td><%= record[:col1] %></td>
      <td><%= record[:col2] %></td>
      <td><%= record[:col3] %></td>
      <td><%= record[:col4] %></td>
      <%end%>
    </tbody>
  </table>
</div>
