<% if notice %>
  <div id="notice" class="ui-state-highlight">
    <%= notice %>
  </div>
<% end %>

<div class="title">
新建记录 | <%= link_to '返回', records_path %>
</div>

<%= render 'form' %>

<div class="table_view">
  <%= render 'table'%>
</div>
