<div class="report">
  <table>
    <thead>
      <tr class="title">
        <th colspan="9">打磨统计表（单号）</th>
      </tr>
    </thead>
    <tbody>
    <% @report.each do |report| %>

    <% end %>
    </tbody>
  </table>
</div>
