<div class="report">
  <table>
    <thead>
    <tr class="title">
      <th colspan="3">员工货物明细表</th>
    </tr>
    <tr>
      <th>名称</th>
      <th>数量</th>
      <th>人均用金量</th>
    </tr>
    </thead>
  </table>
</div>
